/*  */
html{
    font-size: 62.5%;
}


/* media queries         */
@media (min-width: 801px) and (max-width: 2560px) {
    #header{
        display: flex;
        justify-content: space-between;
    }
    h1{
        color: #406114;
        font-weight: 700;
        padding: none;
        margin: none;
    }

    .back-ground img{
        width: 100%;
    }
    #header-1{
        display: flex;
        align-items: center;
    }
    #header-1 p,img{
        margin: 1rem;
    }
    #header-2{
        display: flex;
        align-items: center;
    }
    
    #header-2 p,input{
        margin: 1rem;
    } 
    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #box{
        width:auto;
        background-color: #3F6C22;
        height: 100%;
        padding: 1.4rem;
        margin-top: 4rem;
    }
    #box a{
        color: white;
        text-decoration: none;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }  
    #hamburger{
        display: none;
    }
    #hamburger-nav{
        display: none;
    }


}
/*  */
    @media (min-width: 0px) and (max-width: 800px) {
        #header-2{
            display: none;
        }
        #boxes{
            display: none;
        }
        #header-1 p{
            display: none;
        }
        #Welcome{
            display: none;
        }

        #OXFAM{
            width: 80px;
            height: 21.5rem;
            
        }
        #hero{
            background-image: url(Assets/bg.jpg);
            background-repeat: no-repeat;
            background-size:contain;
        }
        #hamburger{
            display: flex;
            float:inline-end;
            padding-top: 3rem;
            align-items: center;
            width: 4rem;
        }
        #footer img{
            float: start;
            display: flex;
            margin: none;
        }
        #hamburger-nav  li{
            list-style-type: none;
            background-color: #3F6C22;
            padding: 1rem;
        }
        #hamburger-nav input{
            width: 100%;
            height: 3rem;
            margin-top: 3rem;
            margin-bottom: 2rem;
        }
        #hamburger-nav a{
            text-decoration: none;
            font-size: 3rem;
            color: white;
            padding-left: 4rem;
        }
        #close{
            font-size: 4rem;
            cursor: pointer;
        }
        #hamburger-nav{
            position: absolute;
            margin-top: 4rem;
            top: 0;
            right:1000%;
            height: 100vh;
            background-color: #3F6C22;
            transition-property: left; 
            transition-duration: 4s; 
            transition-timing-function: ease-in-out; 
        }
        h1{
            color: #406114;
            font-weight: 700;
            padding: none;
            margin: none;
        }
        #hamburger-nav.smenu{
            right:0%;
        }
    }


/* Header CSS ends here */

/* Media Queries */
/* Page1 Css */
@media (min-width: 801px) and (max-width: 2560px) {
    #pg2bg img{
        width: 85%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
       }

    p{
        font-size: 1.5rem;
    }
    #Mission-vison{
        margin-bottom: 5rem;
        float: inline-end;
    }
    #Mission-vison a{
        text-decoration: none;
        font-weight: 650;
    }
    #Mission-vison li{
        list-style: none;
    }
    .link li{
        list-style: none;
    }
    
    .link a{
        text-decoration: none;
        color: #406114;
    }
}
@media (min-width: 200px) and (max-width: 800px) {
       #pg2bg img{
        width: 70%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
       }
       #Mission-vison{
        margin-bottom: 5rem;
        float: inline-end;
    }
    #Mission-vison a{
        text-decoration: none;
        font-weight: 650;
    }
    p{
        font-size: 1.5rem;
    }
    #Mission-vison li{
        list-style: none;
    }
    .link li{
        list-style: none;
    }
    
    .link a{
        text-decoration: none;
        color: #406114;
    }
}
